<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <button class="buttonInit" id="init">Init audio</button>
  <br>
   <button class="buttonInit" id="stop" style="opacity:0">Stop all</button>
   <br>  
   <div class="transbox" id="mainBox">   
   </div>
</div>