body {
    background-color: powderblue;
    margin: 20px
}

h1 {
    color: blue;
}

h4 {
    color: blue;
opacity: 0.1;    
margin: 1px;
}

p {
    color: red;
}

:host ::ng-deep div.transbox {
    /* background-image: url("https://ul.countable.us/ul/q_auto/uploads/mbBL0beY/abce37/ocean.jpg"); */
    border-radius: 25px;
width:280px;
    padding: 30px;
    margin: 10px;
    background-color: #17abe6;
    border: 1px solid black;
    opacity: 0.0;
    filter: alpha(opacity=90);
    /* For IE8 and earlier */
}

div.effectBox {
    /* background-image: url("https://ul.countable.us/ul/q_auto/uploads/mbBL0beY/abce37/ocean.jpg"); */
    padding:10px;
margin-top:10px;
border-radius: 15px;
background-color: #c2f3fa;
    border: 1px solid black;
    opacity: 1.0;
    filter: alpha(opacity=90);
    /* For IE8 and earlier */
}


:host ::ng-deep .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

:host ::ng-deep .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

:host ::ng-deep .slider:hover {
    opacity: 1;
}

:host ::ng-deep .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

:host ::ng-deep .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

:host ::ng-deep .button {
    background-color: rgb(11, 65, 136);
    color: rgb(226, 230, 11);
    padding: 5px 10px;
width: 230px;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #e7e7e7;
}

:host ::ng-deep .buttonInit {
    background-color: rgb(11, 65, 136);
    color: rgb(226, 230, 11);
    padding: 5px 10px;
width: 230px;    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 60px;
    cursor: pointer;
    border: 1px solid #e7e7e7;
}